#main-content {
    background-color:#FAFAFA;
    width: 100vw;
    height: 100vh;
}

.layout-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout-row {
    display: flex;
    flex-direction: row;
}

section#calculator {
    border: 1px groove black;
    padding: 1.5%;
    position: relative;
}

.body-calculator {
    padding-top: 10%;
}

.calculator-digit {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5%
}

.calculator-operator {
    padding-top: 15%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5%
}

.calculator-action {
    padding-top: 15%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5%
}

.button {
    text-align: center;
    background: lightcyan;
    border: 1px groove black;
}

input[type="text"] {
    width: 100%;
}